*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: block;
    justify-content: center;
}

.main_items {
    display: grid;
    justify-content: center; 
    color: cornsilk;
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
 
    grid-template-rows: 110px 110px 110px 110px 110px;
    grid-template-columns: 300px 200px 270px 200px;
    
    gap: 30px;
    height: 100%;
    
 }
   
 #item-0 {
 
    background-color: blue; 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 2;
    
 }
 #item-1 {
 
    background-color: blue; 
    grid-row-start: 1;
    grid-column-start: 2;
 
    grid-row-end: 2;
    grid-column-end: 3;
    
 }
 #item-2 {
 
    background-color: blue; 
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 5;
    
 }
 #item-3 {
 
    background-color: blue; 
    grid-row-start: 2;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 2;
    
 }
 #item-4 {
 
    background-color: blue; 
    grid-row-start: 2;
    grid-column-start: 2;
 
    grid-row-end: 3;
    grid-column-end: 3;
    
 }
 #item-5 {
 
    background-color: blue; 
    grid-row-start: 3;
    grid-column-start: 3;
 
    grid-row-end: 4;
    grid-column-end: 4;
    
 }
 #item-6 {
 
    background-color: blue; 
    grid-row-start: 3;
    grid-column-start: 4;
 
    grid-row-end: 4;
    grid-column-end: 5;
    
 }
 #item-7 {
 
    background-color: blue; 
    grid-row-start: 3;
    grid-column-start: 1;
 
    grid-row-end: 5;
    grid-column-end: 3;
    
 }
 #item-8 {
 
    background-color: blue; 
    grid-row-start: 4;
    grid-column-start: 3;
 
    grid-row-end: 6;
    grid-column-end: 5;
    
 }
 #item-9 {
 
    background-color: blue; 
    grid-row-start: 5;
    grid-column-start: 1;
 
    grid-row-end: 6;
    grid-column-end: 2;
    
 }
 #item-10 {
 
    background-color: blue; 
    grid-row-start: 5;
    grid-column-start: 2;
 
    grid-row-end: 6;
    grid-column-end: 3;
    
 }

.flex_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 86vh;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 200px 0;
    background-color: darkgreen;
}

.header_title {
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
  }


.main_title {
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
  }


.footer_title {
  color: aliceblue;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}

.header_title {
    padding-bottom: 20px;
}

.nav_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    list-style-type: none;
}

.button {
    font-size: 20px;
    color: rgb(53, 51, 51);
    border: none;
    background-color: seashell;
    padding: 10px 15px;
    border-radius: 22px;
}

.btn:hover {
    background-color: rgb(30, 60, 36);
    color: seashell;
}

.main {
    flex-grow: 1;
    padding: 20px 0;
    background-color: steelblue;
}

.main_contaner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px 10px 20px;
}

.main_item {
    width: 270px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: rgb(51, 51, 182);
    color: seashell;
    font-size: 50px;
}

.footer {
    padding: 20px 0;
    background-color: skyblue;
}